<section class="thirteen columns">
    <h1>Employment</h1>
     <article>
         <header>
             <h1>Software Engineering Tech Lead</h1>
             <span><address>Cisco, Galway</address><time>2011 to Present</time></span>
         </header>
         <p>Microservice architecture and development in the Webex portfolio.</p>
     </article>
    
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Ericsson, Athlone, Ireland</address><time>2003 to 2007</time></span>
        </header>
        <p>todo: fill in description and other employments. </p>
    </article>
   
</section>
